@font-face {
    font-family: PlayfairDisplay;
    src: url('PlayfairDisplay-Regular.eot'); /* IE9 Compat Modes */
    src: url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('PlayfairDisplay-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('PlayfairDisplay-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('PlayfairDisplay-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
