#portal-frame {
    min-height: 800px;
    height: auto;
    max-height: 100%;
}

.pdf-div {
    height: 100vh;
    min-height: 800px;
    max-height: 100%;
}

.in-line-container {
    position: relative;
    min-height: 100%;
    height: auto;
    min-height:70vh;
    height: auto;
    height:75vh;
}

