@font-face {
    font-family: HelveticaNeueRegular;
    src: url('Helvetica Neue Regular.eot'); /* IE9 Compat Modes */
    src: url('Helvetica Neue Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Helvetica Neue Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('Helvetica Neue Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('Helvetica Neue Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: GaramondPremierPro;
    src: url('Garamond Premier Pro Display.eot'); /* IE9 Compat Modes */
    src: url('Garamond Premier Pro Display.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Garamond Premier Pro Display.ttf') format('truetype'); /* Safari, Android, iOS */
}
