@font-face {
    font-family: Bressay Regular;
    src: url('Bressay_W_Rg.woff2') format('woff2'), /* Super Modern Browsers */
    url('Bressay_W_Rg.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
    font-family: Bressay Bold;
    src: url('Bressay_W_Bd.woff') format('woff'); /* Pretty Modern Browsers */
}

@font-face {
    font-family: Material Design Icons;
    src: url('Material-Design-Iconic-Font.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Material-Design-Iconic-Font.woff2') format('woff2'); /* Pretty Modern Browsers */
}
